.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
}
.button {
  padding: 1px 4px;
  cursor: pointer;
  background-color: var(--text);
  color: black;
  border-radius: 6px;
}
.button:disabled {
  cursor: not-allowed;
  background-color: #333333;
}
