.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--text);
  color: black;
  border-radius: 6px;
  font-weight: 400;
}
.button:disabled {
  cursor: not-allowed;
  background-color: #333333;
}
